<% if flash[:style] %>
    <div class="alert alert-<%= flash[:style] %> alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= h flash[:style] %></strong> <%= h flash[:message] %>
    </div>
<% end %>