<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>Latestgram</strong>
            </a>
            <% if session[:user_id] %>
                <strong>
                    <a href="/user/<%= session[:user_id] %>" class="navbar-brand">　<i class="fa fa-user"></i> <%= session[:username] %> 
                    <a href="/signout" class="navbar-brand"> <i class="fa fa-sign-out"></i> </a>
                </strong>
            <% else %>
                <strong class="navbar-brand">
                    <a href="/signin" class="navbar-brand">ログイン <i class="fa fa-sign-in"></i> </a>
                </strong>
            <% end %>
        </div>
    </div>
</header>