<body class="text-center">
    <form class="form-signin" method="post" action="/signin">
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
        <label for="username" class="sr-only">User name</label>
        <input type="text" id="username" class="form-control mb-3" placeholder="Username" name="username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
        <p class="text-left"> new user? <a href="/signup">create new account</a></p>
        <p class="mt-3 mb-3 text-muted">&copy; 2018 Latestgram</p>
    </form>
</body>